{
    "plugins": [
      "import"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:import/recommended"
    ],
    "rules": {
      "import/no-unresolved": "error",
      "import/named": "error"
    }
  }